@model FoodShopOnline.Models.EF.User

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<link href="~/Asset/Client/css/Register.css" rel="stylesheet" type="text/css" />
<link href="~/Asset/Client/css/themify-icons/themify-icons.css" rel="stylesheet" type="text/css" />
<div class="body-info">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="register-form">
            <hr />
            <p class="register-content">Quà Vặt Việt Register</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="user-name">
                <p>
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "label" })
                </p>
                <div class="input1">
                    @Html.TextBoxFor(model => model.Username)
                </div>
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "danger" })
            </div>


            <div class="user-name">
                <p>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "label" })
                </p>
                <div class="input1">
                    @Html.PasswordFor(model => model.Password)
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "danger" })
            </div>

            <div class="user-name">
                <p>
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "label" })
                </p>
                <div class="input1">
                    @Html.TextBoxFor(model => model.Name)
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "danger" })
            </div>

            <div class="user-name">
                <p>
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "label" })
                </p>
                <div class="input1">
                    @Html.TextBoxFor(model => model.Address)
                </div>
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "danger" })
            </div>

            <div class="user-name">
                <p>
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label" })
                </p>

                <div class="input1">
                    @Html.TextBoxFor(model => model.Email)
                </div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "danger" })
            </div>
            <div class="user-name">
                <p>
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "label" })
                </p>
                <div class="input1">
                    @Html.TextBoxFor(model => model.Phone)
                </div>
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "danger" })
            </div>
            <div class="remember">
                <span class="checkbox-login">
                    <label for="" class="checkbox-lb">
                        <input type="checkbox" name="checked ">
                    </label>
                </span>
                <p>Accept rules and condtions</p>
                <div class="form-group">
                    <div class="btn-dangky">
                        <input type="submit" value="Đăng ký" />
                    </div>
                </div>
            </div>
            @if(ViewBag.Error != null)
                {
                <br />
                <div class="alert alert-danger " role="alert" style="color:red;">@ViewBag.Error</div>
                }
            <div class="copyright">
                <p>© 2021 Qua An Vat Login Form. All rights reserved | Design by Group-7</p>
            </div>
        </div>
    }
</div>





