@model  PagedList.IPagedList<FoodShopOnline.Models.EF.Admins>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách người quản trị</h2>

<p>
    @Html.ActionLink("Tạo tài khoản mới", "Create")
</p>
@using (Html.BeginForm())
            {
                <p>
                    Tìm tài khoản: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Tìm" />
                </p>
            }
<table class="table">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            @Html.ActionLink("Tài khoản", "Index", new {sortOrder = ViewBag.SapTheoTen, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Tài khoản quản trị
        </th>
        <th>
            Tình trạng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


Trang @(Model.PageCount<Model.PageNumber  ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new {page, sortOder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))